# This an example dotenv file.
# Copy this file to .env and replace the values with your own.

# Dotenv files are used to configure the application's runtime
# behaviours. 

# This an example dotenv file.
# Copy this file to .env and replace the values with your own.

# Dotenv files are used to configure the application's runtime
# behaviours. 

LISTEN_HOST=0.0.0.0
LISTEN_PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=paralab
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_SYNCHRONIZE=true

REDIS_URL=redis://localhost:6379

BCRYPT_ROUNDS=5
JWT_SECRET=your_jwt_secret
JWT_REFRESH_TOKEN_TIMEOUT_SECEONDS=86400
